/*  importal todos arquivos para criar link no html com apenas um arquivo */

@import url(/Modo_Cores/css/reset.css);
@import url(/Modo_Cores/css/design_system.css);

.color-section{
    display: flex;
    /* tamanho de tela disponivel */
    height: 100vh;
    width: 100%;

}

.color-section__sidebar{}

.color-section__title{}

.color-section__menu{}

.color-section__link{}

.color-section__link--active{}

.color-section__link--active:hover{}

.color-section__bar{}

.color-section__bar--rgb-1{
    width:15%;
    background-color:rgb(255, 0, 0);
}
.color-section__bar--rgb-2{
    width:15%;
    background-color:rgb(0, 255, 0);
}
.color-section__bar--rgb-3{
    width:15%;
    background-color:rgb(0, 0, 255);
}
.color-section__bar--rgb-4{
    width:15%;
    background-color:rgb(255, 255, 0);
}
.color-section__bar--rgb-5{
    width:15%;
    background-color:rgb(0, 255, 255);
}
.color-section__bar--rgb-6{
    width:15%;
    background-color:rgb(255, 0, 255);
}

.color-section__bar--cmyk-1{}
.color-section__bar--cmyk-2{}
.color-section__bar--cmyk-3{}
.color-section__bar--cmyk-4{}
.color-section__bar--cmyk-5{}
.color-section__bar--cmyk-6{}

.color-section__bar--netflix-1{}
.color-section__bar--netflix-2{}
.color-section__bar--netflix-3{}

.color-section__bar--google-1{}
.color-section__bar--google-2{}
.color-section__bar--google-3{}
.color-section__bar--google-4{}