/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilizar a tag Body */
body{
    background-color: rgb(255, 173, 205);
    /* largura */
    width: 100vw;
    /* altura */
    height: 100vh;
    /* display padrao:block */
}

.content-header{
    width: 100%;
    height: 33%;
    background-color: rgb(255, 123, 167);
    display: flex;
    /* alinhar na vertical */
    align-items: center;
    /* alinhar na horizontar */
    justify-content: center;
}

/* estilizar um elemento atraves da classe */
.banner-header{
    width: 90%;
    height: 75%;
    background-color: rgb(218, 69, 118);
    
}

.content-hero{
    width: 100%;
    height: 66%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.box{
    width:300px;
    height:450px;
    background-color:rgb(218, 69, 118);
    border: 2px solid;
}
