/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilizar a tag Body */
body{
    background-color: rgb(255, 173, 205);
    /* largura */
    width: 100vw;
    /* altura */
    height: 100vh;
    /* display padrao:block */
}

.content-header{
    width: 100%;
    height: 380px;
    background-color: rgb(255, 173, 205);
    display: flex;
    /* alinhar na vertical */
    align-items: center;
    /* alinhar na horizontar */
    justify-content: center;
    margin-bottom: 10px;
}

/* estilizar um elemento atraves da classe */
.banner-header{
    width: 1140px;
    height: 300px;
    background-color: rgb(218, 69, 118);
    border-radius: 12px;
}

.content-main{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.content-hero{
    width: 1200px;
    height: 482px;
    display: flex;
    align-items: center;
    justify-content:space-between;

}

/* propriedades que são comuns a todos os cards */
.box{
    width:360px;
    height:520px;
    background-color:rgb(218, 69, 118);
    border-radius: 12px;
    text-align: center;
}
